// Assuming Bootstrap variables are imported
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

.search-input-group {
  // Default styles that are not dependent on the theme
  .form-control,
  .input-group-text {
    border: none;
    background-color: transparent;
  }

  .form-control:focus {
    background-color: transparent;
    box-shadow: none;
  }

  // Conditional theme styling
  html[data-bs-theme='light'] & {
    background-color: #fff;

    &.input-group-focused {
      border: 2px solid #80bdff;
      outline: none;
      box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    }
  }

  html[data-bs-theme='dark'] & {
    background-color: #333;

    &.input-group-focused {
      border: 2px solid #505050;
      outline: none;
      box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25);  // Lighter shadow for better visibility in dark mode
    }
  }
}
