/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* This ensures that the footer pushes to the bottom */
main {
  flex: 1;
}

// Define font sizes and additional properties
$font-size-1: 2.5rem;
$font-size-2: 2rem;
$font-size-3: 1.75rem;
$font-size-4: 1.5rem;
$font-size-5: 1.25rem;
$font-size-6: 1rem;

$display-size-1: 4rem;
$display-size-2: 3.5rem;
$display-size-3: 3rem;
$display-size-4: 2.5rem;
$display-size-5: 2rem;
$display-size-6: 1.5rem;

$display-weight: bold;
$display-line-height: 1.2;

// Media query mixins for responsive font sizes
@mixin responsive-font-sizes($breakpoint) {
  .fs-#{$breakpoint}-1 { font-size: $font-size-1; }
  .fs-#{$breakpoint}-2 { font-size: $font-size-2; }
  .fs-#{$breakpoint}-3 { font-size: $font-size-3; }
  .fs-#{$breakpoint}-4 { font-size: $font-size-4; }
  .fs-#{$breakpoint}-5 { font-size: $font-size-5; }
  .fs-#{$breakpoint}-6 { font-size: $font-size-6; }
}

// Media query mixins for responsive display font sizes
@mixin responsive-display-font-sizes($breakpoint) {
  .display-#{$breakpoint}-1 { font-size: $display-size-1; font-weight: $display-weight; line-height: $display-line-height; }
  .display-#{$breakpoint}-2 { font-size: $display-size-2; font-weight: $display-weight; line-height: $display-line-height; }
  .display-#{$breakpoint}-3 { font-size: $display-size-3; font-weight: $display-weight; line-height: $display-line-height; }
  .display-#{$breakpoint}-4 { font-size: $display-size-4; font-weight: $display-weight; line-height: $display-line-height; }
  .display-#{$breakpoint}-5 { font-size: $display-size-5; font-weight: $display-weight; line-height: $display-line-height; }
  .display-#{$breakpoint}-6 { font-size: $display-size-6; font-weight: $display-weight; line-height: $display-line-height; }
}

// Apply media queries using mixins
@media (min-width: 576px)  { @include responsive-font-sizes(sm); @include responsive-display-font-sizes(sm); }
@media (min-width: 768px)  { @include responsive-font-sizes(md); @include responsive-display-font-sizes(md); }
@media (min-width: 992px)  { @include responsive-font-sizes(lg); @include responsive-display-font-sizes(lg); }
@media (min-width: 1200px) { @include responsive-font-sizes(xl); @include responsive-display-font-sizes(xl); }
@media (min-width: 1400px) { @include responsive-font-sizes(xxl); @include responsive-display-font-sizes(xxl); }

